.footer_contenido {
    margin: 0 auto;
    padding: 1em;
    background: #eaf2fd;
}

.footer__rodape {
    font-family: 'Raleway';
    font-style: normal;
    font-weight:bold;
    font-size: 18px;
    text-align: center;
    color: #464646;
}

@media only screen and (max-width: 390px){
    .footer_contenido{
        margin: 0 auto;
        padding: 1.5em;
    }
    .footer__rodape{
        font-size: 0.75em;
    }
}